.encabezado{
    
    text-align:center;  
}
.cuerpo{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 15%;
}


.subtitulos {
    color:#00b0f0;
}

#datos_personales .texto{
    display: inline-block;
    vertical-align: top;


}

.texto img {
    position:relative;
    padding-top: 15%;
    padding-left:50%;
    margin-left: center;
    transition: opacity 1.5s ease-in-out;
}

/*.texto img.top:hover {
    opacity: 0;
}*/

p{
    color:#4e4d4b;
    text-align : justify;
    margin-right: 20%;
}

footer p{
     margin-left: 15%;
     text-align:center;  
}
